.heading {
 width: 80%;
 font-size: 22px;
}

body{
    background-color: rgb(7, 230, 218);
}

.objects{
    color: lavender;
}

#camera{
    border: 5px dotted lavender;
    width: 450px;
    height: 300px;
}

#result{
    border: 3px solid lavender;
    width: 365px;
    height: 305px;
}
